.home-about {
  background: url("/IMG_0095.jpg") no-repeat;
  background-size: cover;
  background-position: left center;
}

.home-portfolio {
  //background: url("/IMG_0948.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

.home-uw {
  background: url("/uw-paccar.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
