header, section { height: 100vh; position: relative;   overflow-y: hidden;

  .home-content {
      max-width: none;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
  }
}

.home-me {
  h1 {
    font-size: 8vw;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding-bottom: 20px;
  }
  .lead { font-size: 2em;}
}

.home-uw {
  background: purple;
}
