.home-about {

  .content {
      max-width: none;
      margin: 0;
      //position: absolute;
      //top: 25%;
      //top: 30%;
      //transform: translateY(-50%);
      //left: 0;
    //  right: 0;
      padding: 0;

      .ooops {
        margin-top: 50px;
        overflow-x: visible;
        z-index: 1;
        h2 { font-size: 3rem;}
        .lead { font-size: 1.5rem; }

      }

      .blah {
          padding: 0;
          height: 200px;
          background: url("/asian-dude.jpg") no-repeat;
          background-position: 50% 10%;
          background-size: 125%;

          @media (min-width: 768px) {
            height: 50vh;
            background-position: bottom left;
            background-size: contain;
          }



      }
    }
}

.home-portfolio {
  background-size: cover;
  background-position: center center;

}

.home-featured {
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
}
